@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


body {
    min-width: 100vw;
    min-height: 100vh;
    /* max-height: 100vh; */
    margin: auto;
    background-color: #191919;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.velocidade, .parede {
    display: flex;
    flex-direction: row;
}



.velocidade button, .parede button {
    padding: 5px;
    margin: 5px;
}

.active {
    background: #333;
}




canvas {
    margin: 1px 10px;
    background: #111;
    border: 1px solid #fff;
    
}

.botoes {
    width: 40vw;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    padding: 1px;
    margin: 10px;
}

.direcao {
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    text-transform: uppercase;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -20px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


@media screen and (max-width:580px) {
    
    body {
        width: 100vw;
        height: 100vh;
    }
    

    canvas {
        width: 97%;
        margin: 10px;
    }
}