@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


body {
    min-width: 100vw;
    min-height: 100vh;
    /* max-height: 100vh; */
    margin: auto;
    background-color: #191919;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.span_player {
    font-size: 1rem;
}

/* toggle ↓ */

/* The switch - the box around the speaker*/

.toggle {
  padding: 5px;
}

.toggleSwitch {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
  }
  
  /* Hide default HTML checkbox */
  #checkboxInput {
    display: none;
  }
  
  .bell {
    width: 18px;
  }
  
  .bell path {
    fill: white;
  }
  
  .speaker {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .speaker svg {
    width: 18px;
  }
  
  .mute-speaker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    transition-duration: .3s;
  }
  
  .mute-speaker svg {
    width: 18px;
  }
  
  #checkboxInput:checked +.toggleSwitch .speaker {
    opacity: 0;
    transition-duration: .3s;
  }
  
  #checkboxInput:checked +.toggleSwitch .mute-speaker {
    opacity: 1;
    transition-duration: .3s;
  }
  
  #checkboxInput:active + .toggleSwitch {
    transform: scale(0.7);
  }
  
  #checkboxInput:hover + .toggleSwitch {
    background-color: rgb(61, 61, 61);
  }

/* toggle ↑ */

.velocidade, .parede {
    display: flex;
    flex-direction: row;
}



.velocidade button, .parede button {
    padding: 5px;
    margin: 5px;
}

.active {
    background: #333;
}




canvas {
    margin: 1px 10px;
    background: #111;
    border: 1px solid #fff;
    
}

.botoes {
    width: 40vw;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    padding: 1px;
    margin: 10px;
}

.direcao {
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-transform: uppercase;
}

.score--value {
    font-weight: 700;
    font-size: 1rem;
    display: block;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.ranking {
  display: flex;
  flex-direction: column;
}

.podium {
  color: #111;
  font-weight: 800;
  padding: 8px;
  margin: 1px;
  border-radius: 10px;
  font-size: 1.2em;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

footer {
  background-color: ;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 15px;
  margin: 5px;
}

footer img {
  width: 30px;
  margin: 0 5px;
}


@media screen and (max-width:580px) {
    
    body {
        width: 100vw;
        height: 100vh;
    }
    

    canvas {
        width: 97%;
        margin: 10px;
    }
}